.nav-wrapper {
  background-color: #ff0000;
  padding: 16px 32px;
  display: flex;
  justify-content: center;

  .active {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }

  a {
    margin-right: 20px;
  }
}
