.list-item {
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 3rem;
  width: 500px;
  background: #f0fffd;
  transition: all ease-out 150ms;

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
  }

  input[type="text"] {
    margin-top: 13px;
    background: transparent;
    width: 300px;

    &:focus {
      cursor: text;
    }
  }

  &:hover {
    background-image: linear-gradient(to bottom, #e5f9f7 0%, #f0fffd 100%);

    .checkbox {
      cursor: pointer;
    }
  }

  + {
    .list-item {
      border-top: 1px solid #f0f9fb;
    }
  }
}

.checkbox {
  display: inline-block;
  height: 3rem;
  position: relative;
  vertical-align: middle;
  width: 50px;

  input[type="checkbox"] {
    font-size: 1rem;
    visibility: hidden;

    + {
      span {
        &:before {
          position: absolute;
          top: 50%;
          right: auto;
          bottom: auto;
          left: 50%;
          width: 0.85em;
          height: 0.85em;
          transform: translate3d(-50%, -50%, 0);
          background: transparent;
          box-shadow: #2cc5d2 0 0 0 1px inset;
          content: "";
          display: block;
        }
      }
    }

    &:checked {
      + {
        span {
          &:before {
            font-size: 16px;
            line-height: 24px;
            box-shadow: none;
            color: #2cc5d2;
            margin-top: -1px;
            font-family: "percolate", serif;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            content: "\e65e";
          }
        }
      }
    }
  }
}

.pin-button {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  text-align: center;
  transition: all 200ms ease-in;
  color: #eee;
  font-size: 16px;
  line-height: 3rem;
  outline: none;

  &:hover {
    color: #2cc5d2;
  }

  &:focus {
    outline-color: transparent;
  }

  &:active {
    color: #555;
  }
}

.icon-star {
  &:before {
    content: "\e608";
  }
}